/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ede9e9;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  /* Liste de tâches */
  .task-list {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
  }
  
  .task-item .completed {
    text-decoration: line-through;
    color: grey;
  }
  
  button {
    margin-left: 10px;
  }
  